server:
  port: 9190
  shutdown: graceful
management:
  endpoints:
    web:
      exposure:
        include: "*"

spring:
 application:
  name:  gateway_service
 cloud:
    gateway:
        discovery:
            locator:
                enabled: true
        routes:
            - id: product-service                           
              uri: ${PRODUCT_SERVICE_URI:http://localhost:9191}
              predicates:
                - Path=/api/v1/products/**
              filters:
                - RewritePath=/api/v1/?(?<segments>.*), /$\{segments}
                - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin
#                - AddRequestHeadersIfNotPresent=X-USER-NAME-1:user1

            - id: order-service
              uri: ${ORDER_SERVICE_URI:http://localhost:9192}
              predicates:
                - Path=/api/v1/orders/**
              filters:
                - RewritePath=/api/v1/?(?<segments>.*), /$\{segments}
                - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin

            - id: inventory-service
              uri: ${INVENTORY_SERVICE_URI:http://localhost:9193}
              predicates:
                - Path=/api/v1/inventory/**
              filters:
                - RewritePath=/api/v1/?(?<segments>.*), /${segments}
                - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin
            
            - id: customer-service
              uri: ${CUSTOMER_SERVICE_URI:http://localhost:9199}
              predicates:
               - Path=/api/v1/customer/**
              filters:
               - RewritePath=/api/v1/?(?<segments>.*), /${segments}
               - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin

            - id: notification-service
              uri: ${NOTIFICATION_SERVICE_URI:http://localhost:9194}
              predicates:
                - Path=/api/v1/notification/**
              filters:
                - RewritePath=/api/v1/notification/?(?<segments>.*), /${segments}
                - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin

                
            - id: openai
              uri: ${OPENAI_SERVICE_URI:http://localhost:${server.port}}
              predicates:
                - Path=/v3/api-docs/**
              filters:
                - RewritePath=/v3/api-docs/?(?<segments>.*), /${segments}/v3/api-docs
                - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin

                
   
 mvc:
  problemdetails:
    enabled: true
 security:
   oauth2:
     resourceserver:
        jwt:
          jwkSetUri: http://localhost:7080/realms/alrussy-ecommerce/protocol/openid-connect/certs
springdoc:
   swagger-ui:
      use-root-path: true

